modules = ["web", "nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 46296421
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
