

#g_id_onload, .g_id_signin {
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #googleSignInBtn {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
  }
  button[disabled], .send-btn[disabled], .send-fruits-btn[disabled], .send-bakery-btn[disabled], .send-amar-btn[disabled], .send-sushi-btn[disabled], .send-warehouse-btn[disabled], .send-general-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  @media (max-width: 600px) {
    #googleSignInBtn {
      margin: 10px 0;
    }
    .g_id_signin {
      width: 90vw;
      min-width: 200px;
    }
  }